
		<!-- Title -->
		<div class="container">
			<header class="text-center mb-10">
				<h2> Commercial Buildings</h2>
				<p class="lead font-lato"></p>
				<hr />
			</header>
		</div>
		<!-- /Title -->
		<div class="container">
		
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners mb-100">
		
				<div class="fullwidthbanner" data-height="300" data-shadow="2" data-navigationStyle="">
					<ul class="hide">
		
						<!-- SLIDE -->
						<li data-transition="fade" data-slotamount="1" data-masterspeed="100" data-saveperformance=""
							data-title="Slide">
		
							<img src="/assets/video/elevator.jpg" data-lazyload="/assets/video/elevator.jpg"
								alt="image" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="repeat">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /REVOLUTION SLIDER -->

		<div class="container">

			<div class="text-center">
				<p>
					Confronted with newer buildings on the market, you must ensure that existing buildings can also keep
					pace in the competition for new tenants. For this
					to be possible, it is essential for your elevators to meet the latest quality and environmental
					standards and applicable codes. Rocket Elevators expertise
					with planning and execution offers customized solutions and individual attention, whether you choose
					a total modernization or a phased approach. Rocket Elevators
					has the experience and products to bring your elevators up to their best performance.
				</p>
				<div class="btn btn-primary">
					<a href="/quotes">

						<!-- /word rotator -->
						<span class="word-rotator" data-delay="2000">
							<div style="color: white;">
								<span class="items">
									<span>Get Quote</span>
									<span>Apply Now</span>
								</span>
							</div>
						</span><!-- /word rotator -->
						<i class="glyphicon glyphicon-menu-right fs-12" style="color: white;"></i>
					</a>
				</div>
			</div>
		</div>
	</div>