<div class="container">
        <!-- REVOLUTION SLIDER -->
        <div class="slider fullwidthbanner-container roundedcorners mb-100">
            <div class="fullwidthbanner" data-height="300" data-shadow="2" data-navigationStyle="">
                <ul class="hide">
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="100" data-saveperformance=""
                        data-title="Slide">

                        <img src="/assets/video/elevator4.jpg"
                            data-lazyload="/assets/video/elevator4.jpg" alt="image"
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="repeat">
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->
    <!-- Description -->
    <div class="container">
        <div class="text-center">
            <p>
                Rocket Elevators offer a range of unique and compact residential elevators which can be installed
                virtually anywhere in a Canadian home.
                From Toronto to Montreal and Winnipeg to Vancouver, Rocket Elevators have been helping to make
                people’s lives across the country easier and more comfortable
                by providing them with a simple floor-to-floor accessibility solution.<br>
                The Rocket Elevators Home Elevator is the only home lift of its kind to be available in Canada and
                the perfect alternative to a stairlift allowing you to keep the stairs
                in your property untouched. Our selection of residential elevators are also much more appealing than
                a conventional in-home elevator which can be costly
                and complicated to install.
            </p>
            <div class="btn btn-primary">
                <a href="/quotes">
                    <!-- /word rotator -->
                    <span class="word-rotator" data-delay="2000">
                        <div style="color: white;">
                            <span class="items">
                                <span>Get Quote</span>
                                <span>Apply Now</span>
                            </span>
                        </div>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right fs-12" style="color: white;"></i>
                </a>
            </div>
        </div>

    </div>
    <!-- Description -->
</div>